<%- include("partials/header"); -%>
<h1>About</h1>

<p> <%= about %> </p>
<!-- We have created a varaible inside the ejs tag to display the content created in app.js using p tag HTML element  -->

<%- include("partials/footer"); -%>
