<%- include("partials/header"); -%>
<h1>Contact</h1>

<p> <%= contact %> </p>
<!-- We have created a varaible inside the ejs tag to display the content created in app.js using p tag HTML element  -->

<%- include("partials/footer"); -%>
